<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>HP LaserJet 600 M601</string>
	<string>HP LaserJet 600 M602</string>
	<string>HP LaserJet 600 M603</string>
	<string>HP LaserJet M4555 MFP</string>
</array>
</plist>
