<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HPDuplexOnByDefaultForEPEATGold</key>
	<array>
		<string>America/St_Johns</string>
		<string>America/Halifax</string>
		<string>America/Glace_Bay</string>
		<string>America/Moncton</string>
		<string>America/Montreal</string>
		<string>America/Goose_Bay</string>
		<string>America/Blanc-Sablon</string>
		<string>America/Toronto</string>
		<string>America/Nipigon</string>
		<string>America/Thunder_Bay</string>
		<string>America/Iqaluit</string>
		<string>America/Pangnirtung</string>
		<string>America/Resolute</string>
		<string>America/Atikokan</string>
		<string>America/Rankin_Inlet</string>
		<string>America/Winnipeg</string>
		<string>America/Rainy_River</string>
		<string>America/Regina</string>
		<string>America/Swift_Current</string>
		<string>America/Edmonton</string>
		<string>America/Cambridge_Bay</string>
		<string>America/Yellowknife</string>
		<string>America/Inuvik</string>
		<string>America/Creston</string>
		<string>America/Dawson_Creek</string>
		<string>America/Vancouver</string>
		<string>America/Whitehorse</string>
		<string>America/Dawson</string>
		<string>America/New_York</string>
		<string>America/Detroit</string>
		<string>America/Kentucky/Louisville</string>
		<string>America/Kentucky/Monticello</string>
		<string>America/Indiana/Indianapolis</string>
		<string>America/Indiana/Vincennes</string>
		<string>America/Indiana/Winamac</string>
		<string>America/Indiana/Marengo</string>
		<string>America/Indiana/Petersburg</string>
		<string>America/Indiana/Vevay</string>
		<string>America/Chicago</string>
		<string>America/Indiana/Tell_City</string>
		<string>America/Indiana/Knox</string>
		<string>America/Menominee</string>
		<string>America/North_Dakota/Center</string>
		<string>America/North_Dakota/New_Salem</string>
		<string>America/North_Dakota/Beulah</string>
		<string>America/Denver</string>
		<string>America/Boise</string>
		<string>America/Phoenix</string>
		<string>America/Los_Angeles</string>
		<string>America/Anchorage</string>
		<string>America/Juneau</string>
		<string>America/Sitka</string>
		<string>America/Yakutat</string>
		<string>America/Nome</string>
		<string>America/Adak</string>
		<string>America/Metlakatla</string>
		<string>America/St_Thomas</string>
		<string>Pacific/Honolulu</string>
		<string>Pacific/Johnston</string>
		<string>Pacific/Midway</string>
		<string>Pacific/Pago_Pago</string>
		<string>Pacific/Wake</string>
	</array>
</dict>
</plist>
